<tr id="<%= dom_id food %>">
  <td>
    <%= food.name %>
  </td>

  <td>
    <%= food.measurement_unit %>
  </td>

  <td>
    $<%= food.price %>
  </td>

  <td>
    <%= food.quantity %>
  </td>

  <td class='tr-delete'>
    <%= link_to "Delete", food, class: 'text-danger', data: { turbo_method: :delete } %>
  </td>
</tr>
